body {
	background: url(../images/background-repeat.jpeg) repeat;
	background-size: 200px;
	font-family: helvetica, sans-serif;
}

section {
	background: url(../images/background.jpg) no-repeat;
	background-size: 1200px 630px;
	width: 980px;
	height: 630px;
	margin: 0 auto;
	margin-top: 70px;
	box-shadow: 0 0 20px #000;
	border-radius: 10px;
}

h1, h2 {
  margin-left: 50px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

section header {
	background-color:rgba(0, 0, 0, 0.8);
	padding: 1px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

section header h1 {
	color: #FFF;
	font-size: 35px;
	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#gera {
	margin-top: 200px;
}

#gera-btn {
	padding: 20px 25px;
	box-shadow: 0 0 25px #000;
	border-radius: 3px;
	margin-top: 200px;	
	font-size: 20px;
	background-color: #AE8913;
    /* For WebKit (Safari, Chrome, etc) */
    background: #AE8913 -webkit-gradient(linear, left top, left bottom, from(#AE8913), to(#FFEEB5)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #AE8913 -moz-linear-gradient(top, #FFEEB5, #AE8913) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEEB5, endColorstr=#AE8913) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEEB5, endColorstr=#FFEEB5)" no-repeat;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

#gera-btn:hover {
	background: url(../images/background-repeat.jpeg) repeat;
	background-size: 63px 63px;
}

#lorem {
	padding: 40px;
	text-align: justify;
}
